<!DOCTYPE html>
<html>
	<head>
		<link rel="preload" as="font" href="https://bico.media/bit://19HxigV4QyBv3tHpQVcUEQyq1pzZVdoAut/709db0af1710614e69fc4af11df2565e1e344bef006f7e07486251f61213984b" type="font/woff2" crossorigin="anonymous">
		<link rel="preload" as="font" href="https://bico.media/bit://19HxigV4QyBv3tHpQVcUEQyq1pzZVdoAut/ddc126d096f992331bcc381796869699298f857539cc1fa40c23e237b3515fb2" type="font/woff2" crossorigin="anonymous">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>Mojiscape notation</title>
		<link rel="stylesheet" href="https://bico.media/bit://19HxigV4QyBv3tHpQVcUEQyq1pzZVdoAut/6d7b3fea9dcfa380fa5144d73bea837b128b3013139294a1f905daa0a49510ee" type="text/css">
	</head>
	<body>
<article>
	
{{ content }}

<hr>
	
<p>
Feel free to use this badge on your project repo/website to let people know your tool supports Mojiscape notation.
</p>
	
<p>
	<center>
		<a href="http://mojiscape.com"><img src="https://img.shields.io/badge/Mojiscape-%E2%9C%94-brightgreen.svg" alt="Mojiscape"></a>
	</center>
</p>

<p>
	<input style="width:100%;font-family:monospace;padding:5px" onclick="select()" value="[![Mojiscape notation](https://img.shields.io/badge/Mojiscape-%E2%9C%94-brightgreen.svg)](https://mojiscape.com)">
</p>
	
<p style="font-size: 0.5em; text-align: right; margin-bottom: -5px;">
	Edit or comment on <a href="https://github.com/mojiscape/mojiscape.com/discussions">GitHub</a>
</p>
	
</article></body></html>
